@import url('/cdn/styles/index.css');
@import url('/src/views/story/components/storyPanelPage/index.css');
@import url('/src/views/story/components/storyListTable/index.css');
@import url('/src/views/story/components/storyDetailCard/index.css');
@import url('/src/views/story/components/storyStatusBadge/index.css');

html, body {
    height: 100%;
}

#main-content {
    height: 100%;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--yi-bg);
}
